<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/logo.jpeg}">
    <title>Custom Apparel | Detalles del producto</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <link rel="stylesheet" th:href="@{/mdb5/css/mdb.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

    <header th:insert="~{fragmentos/menu.html::menu}"></header>

    <main role="main">
        <hr>
        <div class="container">
            <div class="row">
                <input type="hidden" th:value="${producto.id}" name="idProducto">
                <div class="col-md-4">
                    <img class="rounded mx-auto d-block" th:src="@{/images/{img}(img=${producto.imagen})}"
                        alt="Generic placeholder image" width="290" height="290">
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <h3 class="card-header text-white bg-dark bg-opacity-75">
                            <strong th:text="${producto.nombre}"></strong>
                        </h3>
                        <div class="card-body">
                            <div class="alert alert-primary" role="alert" sec:authorize="isAnonymous()">¿Te
                                interesa esté producto?
                                <strong>Regístrate</strong> para adquirirlo ¡YA!
                            </div>
                            <h5 class="card-title mb-3">
                                <strong class="text-black">Marca: </strong> <span th:text="${producto.marca}"></span>
                            </h5>
                            <h5 class="card-title my-3">
                                <strong class="text-black">Categoría: </strong> <span
                                    th:text="${producto.categoria.nombre}"></span>
                            </h5>
                            <h5 class="card-title my-3">
                                <strong class="text-black">Costo Unitario: </strong><span
                                    th:text="'$' + ${producto.precio}"></span>&nbsp;&nbsp;&nbsp; <i
                                    th:if="${producto.estatus==1}"
                                    class="fa-solid fa-check text-success"></i>&nbsp;<span
                                    th:if="${producto.estatus==1}" class="text-success">En Stock</span> <i
                                    th:unless="${producto.estatus==1}" class="fa-solid fa-x text-danger"></i>&nbsp;<span
                                    th:unless="${producto.estatus==1}" class="text-danger">Descontinuado</span>
                            </h5>
                            <h5 class="card-text my-3"><strong class="text-black">Descripción: </strong><span
                                    th:text="${producto.descripcion}"></span></h5>
                            <h5 class="card-text my-3"><strong class="text-black">Stock: </strong><span
                                    th:text="${producto.stock + ' unidades disponibles'}"></span></h5>
                            <h5 class="card-title">
                                <strong class="text-black">Tallas: </strong><span th:each="talla:${producto.tallas}">
                                    <span th:text="${talla} + ' |'"></span>
                                </span>
                            </h5>
                            <h5 class="card-title my-3">
                                <strong class="text-black">Colores: </strong><span th:each="color:${producto.colores}">
                                    <span th:text="${color} + ' |'"></span>
                                </span>
                            </h5>
                            <a sec:authorize="isAuthenticated() and hasAnyAuthority('Cliente')" class="btn btn-black btn-sm fs-6"
                                th:href="@{/carrito/agregar(id=${producto.id})}">Agregar a carrito</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </main>
    <br><br><br><br><br><br>

    <footer class="fixed-bottom bg-light" th:insert="~{fragmentos/pie.html::pie}"></footer>

    <script type="text/javascript" th:src="@{https://kit.fontawesome.com/6626a63f5b.js}"></script>
    <script type="text/javascript" th:src="@{/mdb5/js/mdb.min.js}"></script>
</body>

</html>